.fill{
    width:100vw;
    height:100vh;
}

body {
    background: #f4f4f4 !important;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;


    display: flex;
    align-items: center;
  }

  .login-form {
      width: 100%;
  }

  .main-screen {
    padding-left: 63px;
  }