.tasks-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin-left: 1rem;
    margin-top: 1rem;
    position: relative;
    width: 300px;
}

.task-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 300px;
    height: 150px;
}

.task-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.task-importance-1 {
    background: rgba(0, 226, 0, 0.85);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 20px;
}

.task-importance-2 {
    background: rgb(255, 166, 0);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 20px;
}

.task-importance-3 {
    background: rgb(165, 42, 42);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 20px;
}

.task-importance-4 {
    background: rgb(0, 0, 240);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 20px;
}

.task-importance-5 {
    background: rgb(255, 0, 0);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    height: 20px;
}

.task-body {
    padding: 10px;
    text-indent: 5px;
}

.datetime-picker {
    display: inline;
    align-items: center;
    margin: 50px
}

.tofinish-button {
    font-size: 50px;
    color: orange;
    margin-left: 10px;
}

.tofinished-button {
    font-size: 50px;
    color: green;
    margin-left: 10px;
}

.file-input {
    padding: 20px;
}
